@{
    var currentPage = Context.Request.Path;

    var navSmallClass = GetCookie("navSmallState") == "true" ? "nav-small" : "";

    string GetCookie(string name)
    {
        if (Context.Request.Cookies[name] == null)
        {
            return "false";
        }
        return Context.Request.Cookies[name];
    }
}

<aside class="sidebar p-3 position-relative @navSmallClass">
    <a class="nav-link logo p-0">
        <i class="bi bi-0-circle"></i>
        <span class="ms-2">LifeFluel</span>
    </a>
    <hr />
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link @(currentPage == "/" ? "active" : "")" asp-area="" asp-page="/Index" id="navSpan">
                <i class="bi bi-house-fill"></i>
                <span class="ms-2">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(currentPage == "/daily-raport" ? "active" : "")" asp-area="" asp-page="/DailyRaport">
                <i class="bi bi-calendar-week-fill"></i>
                <span class="ms-2">Daily report</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(currentPage == "/nutrition" ? "active" : "")" asp-area="" asp-page="/Nutrition">
                <i class="bi bi-capsule"></i>
                <span class="ms-2">Nutrition</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(currentPage == "/habits" ? "active" : "")" asp-area="" asp-page="/Habits">
                <i class="bi bi-clipboard-check-fill"></i>
                <span class="ms-2">Habits</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(currentPage == "/hydration" ? "active" : "")" asp-area="" asp-page="/Hydration">
                <i class="bi bi-droplet-fill"></i>
                <span class="ms-2">Hydration</span>
            </a>
        </li>
    </ul>

    <i class="bi bi-arrow-left-circle-fill menu-toggle" onclick="toggleNavbarClass()"></i>
</aside>

<script>
    function toggleNavbarClass() {
        let aside = document.getElementsByClassName('sidebar')[0];
        aside.classList.toggle("nav-small");

        let isNavSmall = aside.classList.contains("nav-small");
        document.cookie = "navSmallState=" + isNavSmall;
    }
</script>